*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #f8f9fa;
    margin: 0;
    line-height: 50px;
    color: black;
    font-size: 16px;
    font-weight: 400;    
}
.conteiner{
    max-width: 960px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
    margin-top: 16px;
}
.header{
    padding-top: 1.5rem;
    padding-bottom: 3rem;
    text-align: center;
}
img{
    width: 83px;
    height: 70px;
    margin-bottom: 1.5rem;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.h2-1{

    margin-top: 0;
    margin-bottom: .5rem;
    
    line-height: 1.2;
}
.p-1{

    font-size: 1.25rem;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 1rem;
}

.form{
    max-width: 830px;       
}
.card-2{
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
}
.second{
    max-width: 67.5%;
    padding-right: 8px;
    padding-left: 8px;
    margin-top: 16px;
}
.f-n{
    margin-right:15px;
    }

.group-input{
    display: flex;
}

.form-control{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: .25rem;
   
}
.span{
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 13px;
    line-height: 10px;

}

.sp-2{
    color: #0000006c;
}

.form-control.fn{
    width: 298px;
}

.form-control.ln{
    width: 298px;
}

.form-control.width-input{
    width: 585px;
    padding-right: 80px;
}

.form-control.width-2-input{
    width: 630px;
}


.select-form{
        padding: 8px;
        margin-left: 50px;
    }
.zip-width{
    width: 95px;
  
}
.select-width-1{
    width: 155px;
  
}
.select-width-2{
    width: 128px;
    
}

.form-control.zip-width{
    padding-right: 80px;
}

hr:not([size]) {
    height: 1px;
}
.hr{
    margin-top: 10px;
    margin-bottom: 10px;
}
hr {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: .25;
} 
.form-check {
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5em;
    margin-bottom: .125rem;
    border-radius: 4px;
}

.form-check-input {
    border-radius: 4px;
}
.form-check {
   padding: 0;

}

.form-check-input[type=radio] {
    border-radius: 50%;
}

.form-check-input {
    width: 1em;
    height: 1em;
    margin-top: 1em;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0,0,0,.25);
    -webkit-appearance: none;
}
.payment{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 20px;
}
.form-check-input{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 20px;
}
.form-check-input:checked[type=checkbox] {
    background-image: url(./check.png);
}
.form-check-input:checked[type=radio] {
    background-image: url(./dry-clean.png);

}
.form-check-input:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
}
.form-check .form-check-input {
    float: left;
    margin-left: -1.5em;
}